---
name: Newsl
---


<section class="newsl">
  <h4 class="newsl__title">Be part of our club discount</h4>
  <form action="POST" class="newsl__form">
    <input
      type="email"
      placeholder="Your mail"
      class="newsl__input">
    <button type="submit">Subscribe me</button>
  </form>
  <img
    src="/images/products/scene_3.png"
    alt
    class="newsl__bg">
</section>